body {
  font-family: sans-serif;
}
h1 {
  border-style: dashed;
  color: #008000;
  background-color: #888888;
  text-transform: uppercase;
  margin: 40px
  padding: 60px
}

h2 {
  background-color: #888888;
  text-decoration: underline;

}

p {
    color: #0000FF;
    font-size: 12px;
    text-decoration: line-through;
}
